
<div class="absolute inset-0 min-w-0 text-center overflow-auto print:overflow-visible" cdkScrollable>
    
    <div  class="p-2 justify-end w-full no-print">
        <button class="mr-2" mat-flat-button [routerLink]="['/nueva-venta']" color="primary">Nueva Factura</button>
        <button mat-flat-button [useExistingCss] ="true" printSectionId ="print-section" ngxPrint>imprimir</button>
    </div>
  
  <div  id ="print-section" style="padding-top: 0px !important;" class="p-6 factura_centrar sm:p-10 text-left print:p-0">
      <!-- Invoice -->
      <div style="width: 350px;"
          class=" p-2 rounded-2xl shadow bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent">

        <div class="centrado">
            <h6 style="font-weight: 600;" class="b-header">DYNAMIC MODULAR SYSTEM</h6>
            <p style="font-weight: 600;" class="b-p text-sm">
            <strong>NIT</strong> 8001460411<br>
            <strong>TEL</strong> (604) 5903583<br>
            <strong>DIRECCION</strong> EDIFICIO FORUM, CL 7 SUR #42-70  PISO 4, E L POBLADO <br>

            </p>
        </div>
        <br>
        <p class="text-sm" style="font-weight: 600;">
        <strong>N°</strong> 001<BR> 
        <strong>FECHA</strong> 2022-12-02 12:45:55<br>
        <strong>CAJERO</strong> LUIS  SUAREZ<br>
        <strong>NIT/CC</strong> 12220240<br>
        <strong>TEL</strong> 3219248029
        </p>
        <table>
            <thead>
                <tr style="border-top: 1px solid #000000 !important;border-bottom: 1px solid #000000 !important;">
                    <th style="TEXT-ALIGN: initial;" class="cantidad text-sm"><strong>CN</strong></th>
                    <th class="producto text-sm"><strong>PROD</strong></th>
                    <th style="text-align: end;" class="iva text-sm"><strong>IVA</strong></th>
                    <!-- <th style="text-align: end;" class="precio text-sm"><strong>DESC</strong></th> -->
                    <th style="text-align: end;" class="precio text-sm"><strong>VLR</strong></th>
                    <th style="text-align: end;" class="total text-sm"><strong>TOTAL</strong></th>
                </tr>
            </thead>
            <tbody>   
                <tr style="font-size: larger;font-weight: 600;">
                    <td class="cantidad text-sm">4</td>
                    <td class="producto text-sm"> TENA BASIC 9 UNIDADES</td>
                    <td style="text-align: end; " class="iva text-sm">7,600</td>
                    <!-- <td style="text-align: end; " class="iva text-sm">30,000</td> -->
                    <td style="text-align: end;" class="precio text-sm">40,000</td>
                    <td style="text-align: end;" class="total text-sm">130,000</td>
                </tr>   
            </tbody>
        </table>
    
        <table>
            <thead style="border-top: 1px solid #000000 !important; border-bottom: 1px solid #000000 !important;">
            
                <tr>
                    <th scope="col">
                        <h5 class="text-sm" >PAGA CON 200,000</h5>
                    </th>
                    <th scope="col">
                        <h5 class="text-sm">VUELTOS 70,000</h5>
                    </th>
                </tr>
            </thead>
            <div>
                <h1 class="text-sm ml-2 justify-end"><strong>DESCUENTO $0</strong></h1>
            </div>
            <thead style="border-top: 1px solid #000000 !important; border-bottom: 1px solid #000000 !important;">
                <tr>
                <th scope="col"> 
                    <h1 class="text-sm" style="padding-top: 10px;text-align: start;">SUB TOTAL <BR>$130,000</h1></th> 
                    <th scope="col">
                        <h1 class="text-sm" style="padding-top: 10px;text-align: center;">IVA <BR> $10,000</h1>
                    </th>
                    <th scope="col">
                        <h1 class="text-sm" style="padding-top: 10px;text-align: end;">TOTAL <BR>$137,000</h1>
                    </th>
                </tr>
            </thead>

        </table>


        <!-- <span><strong>Observación:</strong>0</span> -->
        <p class="centrado text-sm" style="font-weight: 600;">¡GRACIAS POR SU COMPRA!</p>

        <p class="centrado text-sm">EN ESTA COMPRA ACUMULAS PUNTOS 66 PUNTOS Y TIENES 2190 PUNTOS DISPONIBLES</p>
</div>
  </div>
</div>

