<div class="w-full text-white">
    <div class="bg-card blue_dms p-2 rounded-xl">
        <div class="w-full flex justify-between">
            <h2 class="mt-1 text-sm sm:text-lg font-medium font-bold">Último pedido</h2> <span>{{ultPedido.numProds}} prods</span>
        </div>
        <div><span class="font-bold">Cliente:</span>{{ultPedido.nombreCliente}}</div>
        <div><span class="font-bold">Caja:</span>{{ultPedido.nombreCajero}}</div>
        <div class="text-right">
            $<span class="text-3xl font-bold">{{ultPedido.valor}}</span>
        </div>
    </div>
    
    <div class="bg-card p-2 mt-2 blue_dms rounded-xl flex flex-col justify-between items-between">
        <div class="w-full flex justify-between">
            <h2 class="mt-1 text-sm sm:text-lg font-medium font-bold">Ventas hoy</h2>
        </div>
        <div class="flex justify-between w-full">
            <div><span class="text-3xl font-bold">{{ventasHoy.numProds}}</span> prods</div>
            <div><span class="text-3xl font-bold">{{ventasHoy.numVentas}}</span> ventas</div>
        </div>
        <div class="text-right">
            $<span class="text-3xl font-bold">{{ventasHoy.valor}}</span>
        </div>

        <div>Total actual{{flujoDineroB}}</div>
    </div>
</div> 
