<section class="p-3 sm:p-5 w-full">
    <div class="w-full grid gap-2 grid-cols-1 md:grid-cols-2">
        <div class="mb-2 bg-card  p-4 rounded-xl">
        </div>  
        <div class="mb-2">
        <div class="flex flex-col flex-auto bg-card shadow rounded-lg overflow-hidden">
         <mat-expansion-panel>
             <mat-expansion-panel-header>
                 <mat-panel-title>
                     Funciones
                 </mat-panel-title>
             </mat-expansion-panel-header>
         </mat-expansion-panel>
        </div>
           <div class="flex flex-col mt-4 flex-auto bg-card shadow rounded-lg overflow-hidden">
               <mat-expansion-panel [expanded]="isExpanded" (opened)="isExpanded = true" (closed)="isExpanded = false">
                   <mat-expansion-panel-header>
                       <mat-panel-title>
                           Listado De Producto
                       </mat-panel-title>
                   </mat-expansion-panel-header>
               </mat-expansion-panel>
           </div>
         </div>
    </div>
    
    <!--
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-2 w-full mt-2">    

        <div class="flex flex-col flex-auto">
            <div  *ngIf="isExpanded == true" class="w-full  rounded-lg p-2 morado-1 flex flex-col justify-between  bg-cover" [ngStyle]="{'background-image': imagenProduto}" [ngClass]="[noStockGray(producto.stock)]">
                <div class="text-white">
                    <h3  class="mb-2">
                        <strong>{{producto.nombre == null ? 'Sin Producto' : producto.nombre}}</strong>
                    </h3>
                    <div>IVA:<span class="text-2xl font-bold">16%</span></div>
                    <div>STOCK:<span class="text-2xl font-bold">{{producto.stock == null ? 0 : producto.stock}}</span></div>
                    <div class="opacity-50"><s>Antes: $<span class="text-md font-bold">
                        {{producto.antes == null ? 0 : producto.antes | currency}}
                    </span></s></div>
                    <div>Ahora: $<span class="text-2xl font-bold">
                        {{producto.valor == null ? 0 : producto.valor | currency}}
                    </span></div>
                </div>

                <div>
                    <div class="flex flex-row w-full">
                        <input [value]="producto.valor"
                            class="bg-white py-1 rounded-sm w-full p-1"
                            type="number">
    
                        <input [value]="producto.stock == null ? 0 : producto.stock"
                            class="bg-white py-1 ml-1 rounded-sm w-full p-1"
                            type="text">
                    </div>
                    <div class="flex justify-end">
                        <button [disabled]="producto.stock==0" mat-button class="bg-white mt-2">
                            Venta
                            <mat-icon class="text-[#0D47A1]" [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-full  bg-card rounded-2xl mt-2 p-2">
                <app-caja></app-caja>
                <div class="mt-2"><app-area-usuario></app-area-usuario></div>
            </div>
        </div>

        <div class="xl:col-span-2 flex flex-col flex-auto  overflow-hidden">
             <app-area-ventas></app-area-ventas>
        </div>
    </div>-->

    <div class="grid gap-2 w-full overflow-hidden" [ngStyle]="{'grid-template-columns':getColumnas()}">
        <div class="relative col-span-1 bg-card p-2 rounded-xl shadow pt-15">

            <div class="py-1 absolute top-0 right-0 mr-2">
                <button mat-icon-button (click)="setcajaVisible()">
                    <mat-icon [svgIcon]="'heroicons_outline:'+(cajaVisible?'arrow-left':'arrow-right')"></mat-icon>
                </button>
            </div>

            <div  *ngIf="isExpanded == true && cajaVisible==true" class="w-full  rounded-lg p-2 morado-1 flex flex-col justify-between  bg-cover" [ngStyle]="{'background-image': imagenProduto}" [ngClass]="[noStockGray(producto.stock)]">
                <div class="text-white">
                    <h3  class="mb-2">
                        <strong>{{producto.nombre == null ? 'Sin Producto' : producto.nombre}}</strong>
                    </h3>
                    <div>IVA:<span class="text-2xl font-bold">16%</span></div>
                    <div>STOCK:<span class="text-2xl font-bold">{{producto.stock == null ? 0 : producto.stock}}</span></div>
                    <div class="opacity-50"><s>Antes: $<span class="text-md font-bold">
                        {{producto.antes == null ? 0 : producto.antes | currency}}
                    </span></s></div>
                    <div>Ahora: $<span class="text-2xl font-bold">
                        {{producto.valor == null ? 0 : producto.valor | currency}}
                    </span></div>
                </div>

                <div>
                    <div class="flex flex-row w-full">
                        <input [value]="producto.valor"
                            class="bg-white py-1 rounded-sm w-full p-1"
                            type="number">
    
                        <input [value]="producto.stock == null ? 0 : producto.stock"
                            class="bg-white py-1 ml-1 rounded-sm w-full p-1"
                            type="text">
                    </div>
                    <div class="flex justify-end">
                        <button [disabled]="producto.stock==0" mat-button class="bg-white mt-2">
                            Venta
                            <mat-icon class="text-[#0D47A1]" [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <app-caja></app-caja>
            <div class="mt-2"><app-area-usuario *ngIf="cajaVisible"></app-area-usuario></div>
        </div>
        <div [ngStyle]="{'grid-column':setSpanCaja(3,9)}">
            <app-area-ventas></app-area-ventas>
        </div>
    </div>
    
</section>
