
<div class="min-w-0 text-center overflow-auto print:overflow-visible bg-gray-100" cdkScrollable>
    
    <div class="my-4">
        <button [useExistingCss] ="true" printSectionId ="print-section" ngxPrint mat-button class="bg-blue-600 text-white">
            PDF
            <mat-icon class="icon-size-2 leading-5 opacity-50 text-white"
                [svgIcon]="'heroicons_outline:printer'"></mat-icon>
        </button>
    </div>
  
  <div  id ="print-section" style="padding-top: 0px !important;" class="p-6 factura_centrar sm:p-10 text-left print:p-0">
      <!-- Invoice -->
      <div style="width: 350px;"
          class=" p-2 rounded-2xl shadow bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent">

        <div class="text-center mt-4">
            <h6 style="font-weight: 600;" class="b-header">DYNAMIC MODULAR SYSTEM</h6>
            <p style="font-weight: 600;" class="b-p text-sm">
            <strong>NIT</strong> 8001460411<br>
            <strong>TEL</strong> (604) 5903583<br>
            <strong>DIRECCION</strong> EDIFICIO FORUM, CL 7 SUR #42-70  PISO 4, E L POBLADO <br>

            </p>
        </div>
        <br>
        <p class="text-sm" style="font-weight: 600;">
        <strong>N°</strong> {{this.dataFacturado.idGenerado}}<BR> 
        <strong>FECHA</strong> {{this.dataFacturado.fechaHora}}<br>
        <strong>CAJERO</strong>  {{user.nombreCompleto}}<br>
        <strong>CLIENTE</strong> {{this.venta?.nombreCliente}}<br>
        <strong>NIT/CC</strong> {{this.venta?.nitCliente}} <br>
        <strong>TEL</strong> {{this.venta?.celCliente}}
        </p>
        <table class="w-full my-4">
            <thead class="w-full">
                <tr style="border-top: 1px solid #000000 !important;border-bottom: 1px solid #000000 !important;">
                    <th style="TEXT-ALIGN: initial;" class="cantidad text-sm"><strong>CN</strong></th>
                    <th class="producto text-sm"><strong>PROD</strong></th>
                    <th class="iva text-sm"><strong>IVA</strong></th>
                    <th class="precio text-sm"><strong>VLR</strong></th>
                    <th class="total text-sm"><strong>TOTAL</strong></th>
                </tr>
            </thead>
            <tbody class="w-full">   
                <tr style="border-top: 1px solid #000000 !important;border-bottom: 1px solid #000000 !important;" *ngFor="let producto of venta.productos">
                    <td class="cantidad text-xs">{{producto.cantidad}}</td>
                    <td class="producto text-xs">{{producto.descripcion}}</td>
                    <td class="iva text-xs text-end">{{producto.iva | currency:'USD'}}</td>
                    <td class="precio text-xs text-end">{{producto.precioProducto | currency:'USD'}}</td>
                    <td class="total text-xs text-end">{{producto.total | currency:'USD'}}</td>
                </tr>   
            </tbody>
        </table>

        <div style="border-bottom: 1px solid #000000 !important;" class="flex justify-between my-2 text-xs">
            <div><h5 class="font-bold">SUB TOTAL</h5><span class="text-sm">{{venta.subtotal | currency:'USD'}}</span></div>
            <div><h5 class="font-bold">IVA</h5><span class="text-sm">{{venta.iva | currency:'USD'}}</span></div>
            <div><h5 class="font-bold">TOTAL</h5><span class="text-sm">{{venta.total | currency:'USD'}}</span></div>
        </div>

        <div class="flex justify-between -my-2">
            <div><h5 class="text-sm" >PAGA: 200,000</h5></div>
            <div><h5 class="text-sm">VUELTOS: 70,000</h5></div>
        </div>
    
        <!-- <span><strong>Observación:</strong>0</span> -->
        <div class="text-center mt-4 mb-4">
            <p class="centrado text-sm" style="font-weight: 600;">¡GRACIAS POR SU COMPRA!</p>
            <p class="centrado text-sm">EN ESTA COMPRA ACUMULAS PUNTOS 66 PUNTOS Y TIENES 2190 PUNTOS DISPONIBLES</p>
        </div>
    </div>
  </div>
</div>
