.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -5px;
    right: -5px;
}

.item-dinero{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.item-dinero>.tag-valor{
    background-color: rgba(33, 33, 33, 0.6);
}