<!--<div class="grid grid-cols-1">-->
    <div (click)="dataPost(producto)"  *ngFor="let producto of productos" class="bg-black bg-cover bg-center rounded-lg relative overflow-hidden cursor-pointer" style="aspect-ratio: 1 / 1.5" [ngStyle]="{'background-image': getImageProducto(producto.imagen)}" [ngClass]="[getNumGapClass(), getClassWidth(), IsSoldOutGrayScale(producto)]">
        
        <span *ngIf="getIsInDiscount(producto)" class="absolute top-0 left-0 bg-[#F57F17] text-xs text-white block overflow-hidden pl-2 pr-1">
                20% Dcto
        </span>

        <div  class="absolute bottom-0 left-0 text-sm px-2 pb-4 w-full"
            [ngStyle]="{'background-color': producto.colorBg, 'color': '#'+producto.colorText, 'filter': noStockGray(producto.stock) }">
                {{producto.nombre}}
        </div>
    </div> 
<!--</div>-->