<div class="my-2">
    <button mat-button class="bg-[#01579B] text-white text-md m-1" *ngIf="venta?.estado==3" (click)="generarVueltos()">
        Vueltos
        <mat-icon class="text-white opacity-60" [svgIcon]="'heroicons_outline:calculator'"></mat-icon>
    </button>

    <button mat-button class="bg-[#01579B] text-white text-md m-1" *ngIf="venta?.estado==1" (click)="recibirPago()">
        Recibir
        <mat-icon class="text-white opacity-60" [svgIcon]="'heroicons_outline:hand'"></mat-icon>
    </button>

    <button mat-button class="bg-[#01579B] text-white text-md m-1" *ngIf="venta?.estado==2" (click)="ingresarPago()">
        Ingresar pago
        <mat-icon class="text-white opacity-60" [svgIcon]="'heroicons_outline:cash'"></mat-icon>
    </button>

    <button mat-button class="bg-[#01579B] text-white text-md m-1" (click)="Facturar()">
        Factura
        <mat-icon class="text-white opacity-60" [svgIcon]="'heroicons_outline:ticket'"></mat-icon>
    </button>

    <button *ngIf="cliente" mat-button class="bg-[#01579B] text-white text-md" (click)="agregarUsuarioAVenta()">
        Cliente
        <mat-icon class="text-white opacity-60" [svgIcon]="'heroicons_outline:user-add'"></mat-icon>
    </button>

</div>

<!-- <div class="my-2">
    <button mat-button (click)="Facturar()" class="bg-[#01579B] text-white text-md m-1" >
        Facturar
        <mat-icon class="text-white opacity-60" [svgIcon]="'heroicons_outline:cash'"></mat-icon>
    </button>
</div> -->

<div class="bg-[#BBDEFB] p-2 rounded-lg mt-2 mb-4">

    <div class="flex justify-between">
        <!--<div class="text-lg">
            <span class="text-sm font-bold">IVA:</span> {{venta?.iva-venta?.subtotal}}
        </div>-->
        <div class="flex flex-col my-1">
            <div class="text-sm leading-none font-bold">IVA</div>
            <div class="leading-none text-right text-lg">${{venta?.iva}}</div>
        </div>
        <div class="flex flex-col my-1">
            <div class="text-sm leading-none font-bold">DCTO</div>
            <div class="leading-none text-right text-lg">${{venta?.descuento}}</div>
        </div>
        <!--<div class="text-lg">
            <span class="text-sm font-bold">DCTO:</span> {{venta?.descuento}}
        </div>-->
        <div class="flex flex-col my-1">
            <div class="text-sm leading-none font-bold">SUBTOTAL</div>
            <div class="leading-none text-right text-lg">${{venta?.subtotal}}</div>
        </div>
        <!--
        <div class="text-lg">
            <span class="text-sm font-bold">SUBTOTAL:</span> {{venta?.subtotal}}
        </div>-->
    </div>

    <div class="flex justify-center items-center mt-2" *ngIf="venta?.estado==2">
        <span class="text-2xl px-2 rounded-xl" [ngStyle]="{'background-color':pagoMayorQueDeuda().bg,'color':pagoMayorQueDeuda().text}" >${{total}}</span>
    </div>

    <div class="flex justify-center items-center mt-2">
        $<span class="text-3xl">{{venta?.total}}</span>
    </div>
</div>
