
    <div class="bg-[#4DB6AC] h-full w-full rounded-md p-2 text-center flex flex-col justify-center">
        
        <div>
            <div class="w-full text-center">
                <mat-icon class="text-[#0D47A1] opacity-60" [svgIcon]="'heroicons_outline:tag'"></mat-icon>
            </div>
            <div class="w-full text-center">
                <h3 class="font-bold text-2xl leading-6"> <span class="font-bold text-3xl">20% </span>Dcto productos SAMSUNG</h3>
            </div>

            <div class="mt-2">
                <p>Solo por hoy, para usuarios con mas de 1000 puntos.</p>
            </div>
        </div>
        
        <div>
            <button class="bg-white w-full" mat-button>Ver</button>
        </div>
    </div>
